.royal {
  /* Buttons */
  /* Form elements */
  /* HTML elements */
  /* Spinner */
  /* Custom Date/Time Picker */
  /* Modal Styling */
  /* Utils */
}

.royal.root {
  background-color: #030b36;
  color: #fff !important;
}

.royal header {
  background-color: #030b36;
}

.royal footer {
  background-color: #030b36;
}

.royal footer svg {
  color: #acb1c1;
}

.royal footer .icon-text {
  color: #acb1c1;
}

.royal footer .active svg,
.royal footer .active .icon-text {
  color: #fff;
}

.royal .export-fields span {
  background-color: rgba(96, 104, 133, 0.22);
  color: #fff;
}

.royal .export-fields .edit-fields {
  background-color: #fff;
  color: #000;
}

.royal .card {
  background-color: rgba(96, 104, 133, 0.22);
  color: #fff;
}

.royal .transactions .tx-val button,
.royal .transactions .tx-val svg,
.royal .transactions .tx-val .fa-info-circle {
  color: #f8bf4c !important;
}

.royal .btn-mono {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.royal .btn-primary {
  background-color: #3052ff;
  color: #fff;
}

.royal .btn-secondary {
  background-color: #606885;
  color: #fff;
}

.royal .btn-danger {
  background-color: #ff5b5b;
  color: #fff;
}

.royal select {
  background: url("data:image/svg+xml;base64,PHN2Zw0KICAgIGlkPSJMYXllcl8xIg0KICAgIGRhdGEtbmFtZT0iTGF5ZXIgMSINCiAgICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciDQogICAgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1heFlNaWQiDQogICAgdmlld0JveD0iMCAwIDQuOTUgMTAiDQo+DQogICAgPGRlZnM+DQogICAgICAgIDxzdHlsZT4uY2xzLTF7ZmlsbDp0cmFuc3BhcmVudDt9LmNscy0ye2ZpbGw6I2ZmZjt9PC9zdHlsZT4NCiAgICA8L2RlZnM+DQogICAgPHRpdGxlPmFycm93czwvdGl0bGU+DQogICAgPHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPg0KICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz4NCiAgICA8cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+DQo8L3N2Zz4=") no-repeat 100% 50%;
  background-color: rgba(96, 104, 133, 0.22);
  color: #fff;
}

.royal input {
  background-color: rgba(96, 104, 133, 0.22);
  color: #fff;
}

.royal label {
  color: #acb1c1;
}

.royal label button,
.royal label svg,
.royal label .fa-info-circle {
  color: #606885 !important;
}

.royal .lds-hourglass::after {
  border: 8px solid #fff;
  border-color: #fff transparent;
}

.royal .datetime-container {
  background-color: rgba(96, 104, 133, 0.22);
}

.royal .datetime-container input {
  background-color: transparent;
}

.royal .modal {
  background-color: rgba(3, 11, 54, 0.5);
}

.royal .modal .modal-content {
  background-color: #030b36;
  box-shadow: 4px 3px rgba(172, 177, 193, 0.1);
}

.royal .modal .modal-header {
  background-color: #3052ff;
  color: #fff;
}

.royal .modal .modal-header button {
  background-color: transparent;
  color: #fff;
}

.royal .modal .modal-body {
  background-color: #030b36;
  border-left: 1px solid #606885;
  border-right: 1px solid #606885;
  color: #fff;
}

.royal .modal .modal-footer {
  background-color: #030b36;
  border-bottom: 1px solid #606885;
  border-left: 1px solid #606885;
  border-right: 1px solid #606885;
}

.royal .validation-error {
  background-color: #ff5b5b;
  color: #fff;
}

.royal .calendar-icon {
  color: rgba(96, 104, 133, 0.4);
}

.royal .csv-output code {
  color: #acb1c1;
}
